div{
    height: 100px;
    width: 100px;
    background-color: burlywood;
    border-radius: 50%;
    -webkit-animation-name: circle;
    -webkit-animation-duration: 3s;
    animation-name: circle;
    animation-duration: 3s;
}

@-webkit-keyframes circle{
    from{border-radius: 50%;}
    to{border-radius: 0;}
}

@keyframes circle{
    from{border-radius: 50%;}
    to{border-radius: 0;}
}